h1 {
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
p {
  color: white;
  font-family: Verdana, sans-serif;
}
p2 {
  color: white;
  font-family: Verdana, sans-serif;
}
h2 {
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
